@font-face {
  font-family: "MyFont";
  src: url("/fonts/LINEARGROTESK-REGULAR.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

* {
  font-family: "MyFont", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

body {
  font-family: "MyFont", Arial, sans-serif !important;
}
